<a href="https://colab.research.google.com/github/soham0701/Community-Engagement/blob/main/Community_Engagement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing Libraries and Mounting Google Drive

In [159]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import pandas as pd 
import os
import glob
import shutil

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Collecting all the json files

In [ ]:
os.listdir()

['.config', 'drive', 'sample_data']

In [ ]:
path='/content/drive/MyDrive/ds-data'
os.chdir(path)

In [ ]:
os.listdir()

['04-09-202222:25:06T',
 '04-09-202221:19:11T',
 '04-09-202220:53:24T',
 '04-09-202221:21:00T',
 '04-09-202222:27:06T',
 '04-09-202221:55:15T',
 '04-09-202222:48:11T',
 '04-09-202222:21:57T',
 '04-09-202221:23:40T',
 '04-09-202222:30:06T',
 '04-09-202222:07:21T',
 '04-09-202221:44:07T',
 '04-09-202221:04:35T',
 '04-09-202221:16:02T',
 '04-09-202221:56:28T',
 '04-09-202222:17:33T',
 '04-09-202221:06:13T',
 '04-09-202221:59:45T',
 '04-09-202221:58:32T',
 '04-09-202221:48:57T',
 '05-09-202200:53:23T',
 '04-09-202222:55:32T',
 '04-09-202222:15:52T',
 '04-09-202221:42:03T',
 '04-09-202221:11:38T',
 '04-09-202221:57:44T',
 '05-09-202200:52:45T',
 '04-09-202221:40:25T',
 '04-09-202221:34:51T',
 '04-09-202221:08:55T',
 '04-09-202222:08:13T',
 '04-09-202221:30:15T',
 '04-09-202222:20:02T',
 '04-09-202221:26:33T',
 '04-09-202221:43:11T',
 '04-09-202222:54:46T',
 '04-09-202222:19:19T',
 '04-09-202222:28:49T',
 '04-09-202221:12:45T',
 '04-09-202222:49:30T',
 '04-09-202221:37:20T',
 '04-09-202222:54:07T',
 '04-09-202222:03:09T',
 '04-09-202222:51:55T',
 '04-09-202221:45:42T',
 '04-09-202221:44:48T',
 '04-09-202222:11:52T',
 '04-09-202221:29:16T',
 '04-09-202221:33:31T',
 '04-09-202221:08:05T',
 '04-09-202222:37:25T',
 '04-09-202221:46:48T',
 '04-09-202221:47:50T',
 '04-09-202221:51:02T',
 '04-09-202222:53:28T',
 '04-09-202221:28:21T',
 '04-09-202222:00:50T',
 '04-09-202222:46:44T',
 '04-09-202221:15:07T',
 '04-09-202221:27:29T',
 '04-09-202222:45:28T',
 '04-09-202222:38:48T',
 '04-09-202221:49:56T',
 '04-09-202221:18:08T',
 '04-09-202222:31:11T',
 '04-09-202222:52:43T',
 '04-09-202222:51:07T',
 '04-09-202222:26:12T',
 '04-09-202221:53:17T',
 '04-09-202222:09:25T',
 '04-09-202221:32:02T',
 '04-09-202221:52:06T',
 '04-09-202221:13:51T',
 '04-09-202220:57:49T',
 '04-09-202222:50:25T',
 '04-09-202221:02:51T',
 '04-09-202221:01:11T',
 '04-09-202221:10:11T',
 '04-09-202222:27:55T',
 '04-09-202221:54:14T',
 '04-09-202222:20:56T',
 '04-09-202221:17:11T',
 '04-09-202220:59:19T',
 '04-09-202222:13:38T',
 '04-09-202222:47:34T',
 '04-09-202222:05:31T',
 '04-09-202221:25:19T']

In [ ]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [ ]:
joined_list=[]
for i in os.listdir():
  os.chdir(path+'/'+i)
  for j in os.listdir():
    shutil.copy(path+'/'+i+'/'+j,'/content/drive/MyDrive/combined_jsons')

In [ ]:
os.chdir('/content/drive/MyDrive/combined_jsons')

In [ ]:
extension = 'json'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [ ]:
merged=pd.concat(map(pd.read_json,[i for i in all_filenames]),ignore_index=True)

In [ ]:
merged['text']

0        {'text': 'As far as I know, it's in binance. I...
1        {'text': 'Anyone know whether terra btc bag ha...
2                                           {'text': None}
3        {'text': 'lmao, chainlink is so scuff that the...
4        {'text': 'Will next update unleash the rekt or...
                               ...
34107    {'text': 'hahaha damn man, holy shit that suck...
34108    {'text': 'Those two are more for coins. Iâ€™m re...
34109    {'text': 'GameStop has overtaken Coinbase in t...
34110                               {'text': 'coingecko?'}
34111    {'text': 'Quick question pls, is there a CMC(c...
Name: text, Length: 34112, dtype: object

In [ ]:
merged.to_json('merged.json')

## Prepocessing on the merged json file

In [122]:
df=pd.read_json('/content/drive/MyDrive/SuperMind/combined_jsons/merged.json')

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34112 entries, 0 to 34111
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            34112 non-null  int64
 1   general       34112 non-null  object
 2   text          34112 non-null  object
 3   conversation  34112 non-null  object
 4   engagement    34112 non-null  object
 5   forward       34112 non-null  object
 6   image         911 non-null    object
dtypes: int64(1), object(6)
memory usage: 2.1+ MB

In [124]:
df.describe()

                  id
count   34112.000000
mean   356947.558044
std     11833.629581
min    336745.000000
25%    346755.750000
50%    356723.500000
75%    367258.250000
max    377931.000000

In [125]:
df['id'].nunique()

34112

In [126]:
df.head()

,id,general,text,conversation,engagement,forward,image
0,347078,"{'ref_id': 347078, 'date': 1652379411.0}","{'text': 'As far as I know, it's in binance. I...","{'root_ref': None, 'reply_ref': None, 'sender'...","{'reaction_list': [], 'mentions_list': [], 'ha...","{'for_ref_id': None, 'for_from_channel': None,...",None
1,347077,"{'ref_id': 347077, 'date': 1652379352.0}",{'text': 'Anyone know whether terra btc bag ha...,"{'root_ref': None, 'reply_ref': None, 'sender'...","{'reaction_list': [], 'mentions_list': [], 'ha...","{'for_ref_id': None, 'for_from_channel': None,...",None
2,347075,"{'ref_id': 347075, 'date': 1652378579.0}",{'text': None},"{'root_ref': None, 'reply_ref': None, 'sender'...","{'reaction_list': [], 'mentions_list': [], 'ha...","{'for_ref_id': None, 'for_from_channel': None,...","{'ref': 'telegram/message_asset/347075.png', '..."
3,347074,"{'ref_id': 347074, 'date': 1652378533.0}","{'text': 'lmao, chainlink is so scuff that the...","{'root_ref': 346897, 'reply_ref': 347072, 'sen...","{'reaction_list': [], 'mentions_list': [], 'ha...","{'for_ref_id': None, 'for_from_channel': None,...",None
4,347073,"{'ref_id': 347073, 'date': 1652378307.0}",{'text': 'Will next update unleash the rekt or...,"{'root_ref': None, 'reply_ref': None, 'sender'...","{'reaction_list': [], 'mentions_list': [], 'ha...","{'for_ref_id': None, 'for_from_channel': None,...",None

In [129]:
clean_text=[]
for i in df['text']:
  for value in i.values():
    clean_text.append(value)

In [130]:
df['cleaned_text']=clean_text

In [131]:
df['user_id']=''

In [132]:
for i in range (0,34112):
  if df['conversation'][i]['sender']==None:
    df['user_id'][i]=0
  else:
    df['user_id'][i]=df['conversation'][i]['sender']['ref']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [133]:
df['bot']=''

In [134]:
for i in range (0,34112):
  if df['conversation'][i]['sender']!=None:
    if df['conversation'][i]['sender']['is_bot']==True:
      df['bot'][i]=1
    else:
      df['bot'][i]=0
  else:
    df['bot'][i]=None

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [141]:
df['reaction_count']=''

In [142]:
for i in range (0,34112):
  if len(df['engagement'][i]['reaction_list'])>0:
    df['reaction_count'][i]=df['engagement'][i]['reaction_list'][0]['count']
  else:
    df['reaction_count'][i]=0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [143]:
df['mentions']=''

In [144]:
for i in range (0,34112):
  if len(df['engagement'][i]['mentions_list'])>0:
    df['mentions'][i]=len(df['engagement'][i]['mentions_list'])
  else:
    df['mentions'][i]=0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [145]:
df['replies']=''

In [146]:
for i in range(0,34112):
  if df['conversation'][i]['reply_ref']==None:
    df['replies'][i]=0
  else:
    df['replies'][i]=1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [147]:
df['forwarded']=''

In [148]:
for i in range(0,34112):
  if df['forward'][i]['for_ref_id']==None:
    df['forwarded'][i]=0
  else:
    df['forwarded'][i]=1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [149]:
df['epoch_time']=''

In [150]:
for i in range(0,34112):
  df['epoch_time'][i]=df['general'][i]['date']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [151]:
for i in range(0,34112):
  df['epoch_time'][i]=pd.to_datetime(df['epoch_time'][i],unit='s')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [152]:
df['week'] = pd.DatetimeIndex(df['epoch_time']).week

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  """Entry point for launching an IPython kernel.

In [153]:
df['week'].unique()

array([19, 31, 30, 35, 23, 16, 18, 22, 21, 25, 33, 20, 24, 13, 26, 32, 27,
       28, 29, 14, 15, 17, 34])

In [155]:
df.head()

,id,general,text,conversation,engagement,forward,image,for_user_id,cleaned_text,user_id,bot,reaction_count,mentions,replies,forwarded,epoch_time,week
0,347078,"{'ref_id': 347078, 'date': 1652379411.0}","{'text': 'As far as I know, it's in binance. I...","{'root_ref': None, 'reply_ref': None, 'sender'...","{'reaction_list': [], 'mentions_list': [], 'ha...","{'for_ref_id': None, 'for_from_channel': None,...",None,None,"As far as I know, it's in binance. I'm assumin...",952121887,0,0,0,0,0,2022-05-12 18:16:51,19
1,347077,"{'ref_id': 347077, 'date': 1652379352.0}",{'text': 'Anyone know whether terra btc bag ha...,"{'root_ref': None, 'reply_ref': None, 'sender'...","{'reaction_list': [], 'mentions_list': [], 'ha...","{'for_ref_id': None, 'for_from_channel': None,...",None,None,Anyone know whether terra btc bag has been sol...,453630271,0,0,0,0,0,2022-05-12 18:15:52,19
2,347075,"{'ref_id': 347075, 'date': 1652378579.0}",{'text': None},"{'root_ref': None, 'reply_ref': None, 'sender'...","{'reaction_list': [], 'mentions_list': [], 'ha...","{'for_ref_id': None, 'for_from_channel': None,...","{'ref': 'telegram/message_asset/347075.png', '...",None,None,561155713,0,0,0,0,0,2022-05-12 18:02:59,19
3,347074,"{'ref_id': 347074, 'date': 1652378533.0}","{'text': 'lmao, chainlink is so scuff that the...","{'root_ref': 346897, 'reply_ref': 347072, 'sen...","{'reaction_list': [], 'mentions_list': [], 'ha...","{'for_ref_id': None, 'for_from_channel': None,...",None,None,"lmao, chainlink is so scuff that they don't di...",459392242,0,0,0,1,0,2022-05-12 18:02:13,19
4,347073,"{'ref_id': 347073, 'date': 1652378307.0}",{'text': 'Will next update unleash the rekt or...,"{'root_ref': None, 'reply_ref': None, 'sender'...","{'reaction_list': [], 'mentions_list': [], 'ha...","{'for_ref_id': None, 'for_from_channel': None,...",None,None,Will next update unleash the rekt or are parti...,375542731,0,0,0,0,0,2022-05-12 17:58:27,19

## Grouping values by user_id

In [ ]:
df.groupby('user_id')['cleaned_text'].nunique()

user_id
0             33
65666          1
226188         1
291620         1
355676        45
              ..
5598370554     1
5642486416     6
5648487984    32
5687261319     1
5749315133    16
Name: cleaned_text, Length: 2174, dtype: int64

In [174]:
df.groupby(['user_id'])['forwarded'].sum()

user_id
0             10
65666          0
226188         0
291620         0
355676         0
              ..
5598370554     0
5642486416     0
5648487984     0
5687261319     0
5749315133     0
Name: forwarded, Length: 2174, dtype: object

In [178]:
df.groupby(['user_id'])['reaction_count'].sum()

user_id
0             20
65666          0
226188         0
291620         1
355676        10
              ..
5598370554     0
5642486416     0
5648487984     2
5687261319     0
5749315133     1
Name: reaction_count, Length: 2174, dtype: object

In [179]:
df.groupby(['user_id'])['mentions'].sum()

user_id
0             1
65666         0
226188        0
291620        0
355676        0
             ..
5598370554    0
5642486416    0
5648487984    0
5687261319    0
5749315133    0
Name: mentions, Length: 2174, dtype: object

In [190]:
df.groupby('user_id')['replies'].sum()

user_id
0             15
65666          0
226188         1
291620         0
355676        30
              ..
5598370554     0
5642486416     5
5648487984     7
5687261319     1
5749315133     1
Name: replies, Length: 2174, dtype: object

In [183]:
total_texts_df=pd.DataFrame(
    df.groupby(['user_id'])['cleaned_text'].nunique()
).rename(
    columns={'cleaned_text': 'total_texts'}
).reset_index()

In [189]:
forwarded_df=pd.DataFrame(
    df.groupby('user_id')['forwarded'].sum()
).rename(
    columns={'forwarded': 'forwarded'}
).reset_index()

In [177]:
mentions_df=pd.DataFrame(
    df.groupby(['user_id'])['mentions'].sum()
).rename(
    columns={'mentions': 'mentions'}
).reset_index()

In [181]:
reaction_df=pd.DataFrame(
    df.groupby(['user_id'])['reaction_count'].sum()
).rename(
    columns={'reaction_count': 'reaction_count'}
).reset_index()

In [186]:
active_weeks_df=pd.DataFrame(
    df.groupby('user_id')['week'].nunique()
).rename(
    columns={'week': 'count_of_active_weeks'}
).reset_index()

In [220]:
replies_df=pd.DataFrame(
    df.groupby('user_id')['replies'].sum()
).rename(
    columns={'replies': 'count_of_replies'}
).reset_index()

In [176]:
mentions_df

         user_id mentions
0              0        1
1          65666        0
2         226188        0
3         291620        0
4         355676        0
...          ...      ...
2169  5598370554        0
2170  5642486416        0
2171  5648487984        0
2172  5687261319        0
2173  5749315133        0

[2174 rows x 2 columns]

In [182]:
combined_df=pd.merge(reaction_df, mentions_df, on="user_id")

In [184]:
com_df=pd.merge(total_texts_df,combined_df,on='user_id')

In [185]:
com_df

         user_id  total_texts reaction_count mentions
0              0           33             20        1
1          65666            1              0        0
2         226188            1              0        0
3         291620            1              1        0
4         355676           45             10        0
...          ...          ...            ...      ...
2169  5598370554            1              0        0
2170  5642486416            6              0        0
2171  5648487984           32              2        0
2172  5687261319            1              0        0
2173  5749315133           16              1        0

[2174 rows x 4 columns]

In [187]:
comb_df=pd.merge(com_df,active_weeks_df,on='user_id')

In [188]:
comb_df

         user_id  total_texts reaction_count mentions  count_of_active_weeks
0              0           33             20        1                     12
1          65666            1              0        0                      1
2         226188            1              0        0                      1
3         291620            1              1        0                      1
4         355676           45             10        0                      6
...          ...          ...            ...      ...                    ...
2169  5598370554            1              0        0                      1
2170  5642486416            6              0        0                      2
2171  5648487984           32              2        0                      2
2172  5687261319            1              0        0                      1
2173  5749315133           16              1        0                      1

[2174 rows x 5 columns]

In [193]:
comb_df['avg_texts_per_week']=''

In [194]:
for i in range(0,2174):
  comb_df['avg_texts_per_week'][i]=(((comb_df['total_texts'][i])*(comb_df['count_of_active_weeks'][i]))/23)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [221]:
semi_final_grouping_df=pd.merge(comb_df,replies_df,on='user_id')

In [222]:
final_grouping_df=pd.merge(semi_final_grouping_df,forwarded_df,on='user_id')

In [223]:
final_grouping_df

,user_id,total_texts,reaction_count,mentions,count_of_active_weeks,avg_texts_per_week,count_of_replies,forwarded
0,0,33,20,1,12,17.217391,15,10
1,65666,1,0,0,1,0.043478,0,0
2,226188,1,0,0,1,0.043478,1,0
3,291620,1,1,0,1,0.043478,0,0
4,355676,45,10,0,6,11.73913,30,0
...,...,...,...,...,...,...,...,...
2169,5598370554,1,0,0,1,0.043478,0,0
2170,5642486416,6,0,0,2,0.521739,5,0
2171,5648487984,32,2,0,2,2.782609,7,0
2172,5687261319,1,0,0,1,0.043478,1,0
2173,5749315133,16,1,0,1,0.695652,1,0

In [224]:
os.chdir('/content/drive/MyDrive/SuperMind')

In [225]:
final_grouping_df.to_csv('final_grouping_df.csv',index=False)

## Using Normalization

In [270]:
draft_5=pd.read_csv('/content/drive/MyDrive/SuperMind/final_grouping_df.csv')

In [271]:
draft_5.drop([0],inplace=True)

In [272]:
draft_5=draft_5.reset_index()

In [273]:
draft_5.drop('index',axis=1,inplace=True)

In [274]:
draft_5.head()

,user_id,total_texts,reaction_count,mentions,count_of_active_weeks,avg_texts_per_week,count_of_replies,forwarded
0,65666,1,0,0,1,0.043478,0,0
1,226188,1,0,0,1,0.043478,1,0
2,291620,1,1,0,1,0.043478,0,0
3,355676,45,10,0,6,11.739130,30,0
4,376593,11,27,0,4,1.913043,2,0

In [275]:
draft_5['total_texts'] = (draft_5['total_texts'] - draft_5['total_texts'].min()) / (draft_5['total_texts'].max() - draft_5['total_texts'].min())

In [276]:
draft_5['reaction_count'] = (draft_5['reaction_count'] - draft_5['reaction_count'].min()) / (draft_5['reaction_count'].max() - draft_5['reaction_count'].min())

In [277]:
draft_5['mentions'] = (draft_5['mentions'] - draft_5['mentions'].min()) / (draft_5['mentions'].max() - draft_5['mentions'].min())

In [278]:
draft_5['avg_texts_per_week'] = (draft_5['avg_texts_per_week'] - draft_5['avg_texts_per_week'].min()) / (draft_5['avg_texts_per_week'].max() - draft_5['avg_texts_per_week'].min())

In [282]:
draft_5['count_of_replies'] = (draft_5['count_of_replies'] - draft_5['count_of_replies'].min()) / (draft_5['count_of_replies'].max() - draft_5['count_of_replies'].min())

In [280]:
draft_5['forwarded'] = (draft_5['forwarded'] - draft_5['forwarded'].min()) / (draft_5['forwarded'].max() - draft_5['forwarded'].min())

In [283]:
draft_5

,user_id,total_texts,reaction_count,mentions,count_of_active_weeks,avg_texts_per_week,count_of_replies,forwarded,replies
0,65666,0.000382,0.000000,0.0,1,0.000017,0.000000,0.0,0.000000
1,226188,0.000382,0.000000,0.0,1,0.000017,0.000942,0.0,0.000942
2,291620,0.000382,0.000465,0.0,1,0.000017,0.000000,0.0,0.000000
3,355676,0.017176,0.004647,0.0,6,0.004481,0.028249,0.0,0.028249
4,376593,0.004198,0.012546,0.0,4,0.000730,0.001883,0.0,0.001883
...,...,...,...,...,...,...,...,...,...
2168,5598370554,0.000382,0.000000,0.0,1,0.000017,0.000000,0.0,0.000000
2169,5642486416,0.002290,0.000000,0.0,2,0.000199,0.004708,0.0,0.004708
2170,5648487984,0.012214,0.000929,0.0,2,0.001062,0.006591,0.0,0.006591
2171,5687261319,0.000382,0.000000,0.0,1,0.000017,0.000942,0.0,0.000942
2172,5749315133,0.006107,0.000465,0.0,1,0.000266,0.000942,0.0,0.000942

## Selecting the final engagement score by adding weights

In [284]:
draft_5['engagement_score']=''

In [285]:
for i in range(0,2173):
  draft_5['engagement_score'][i]=((draft_5['reaction_count'][i]*0.1)+(draft_5['mentions'][i]*0.2)+(draft_5['avg_texts_per_week'][i]*0.25)+(draft_5['count_of_replies'][i]*0.25)+(draft_5['forwarded'][i]*0.2))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [286]:
draft_5.head()

,user_id,total_texts,reaction_count,mentions,count_of_active_weeks,avg_texts_per_week,count_of_replies,forwarded,replies,engagement_score
0,65666,0.000382,0.000000,0.0,1,0.000017,0.000000,0.0,0.000000,0.000004
1,226188,0.000382,0.000000,0.0,1,0.000017,0.000942,0.0,0.000942,0.00024
2,291620,0.000382,0.000465,0.0,1,0.000017,0.000000,0.0,0.000000,0.000051
3,355676,0.017176,0.004647,0.0,6,0.004481,0.028249,0.0,0.028249,0.008647
4,376593,0.004198,0.012546,0.0,4,0.000730,0.001883,0.0,0.001883,0.001908

In [287]:
draft_6 = draft_5[['user_id', 'engagement_score']]

In [288]:
draft_6=draft_6.sort_values('engagement_score',ascending=False)

In [289]:
draft_6.head(10)

        user_id engagement_score
538   375542731         0.810204
818   464619027         0.625998
857   477151824         0.161102
1245  864624886         0.136413
556   380905831         0.099928
59     38055419         0.098066
804   459392242         0.094736
1215  818896091         0.084897
489   358276014         0.082749
935   508640239         0.080742

In [290]:
#draft_6.to_csv('submission.csv',index=False)